<div class = "row">
<div class="col-xs-12">

	<b> <%= User.find(@article.author).username %></b>

	<small>write at: 

 	<%= @article.created_at %></small> 

<p class="lead">
	<%= @article.title %>
</p>
</div>
</div>

<div class = "row">
<div class="col-xs-12">

	<i><%= @article.text %></i><br>


</div>
</div>

<br>
<br>

<div class = "row">
<div class="col-xs-12">

	<i><b>Comments:</b></i>

</div>
</div>

<br>

<div class = "row">
<div class="col-xs-12">


	<input name="article[author]" type="hidden"/ value="<%= current_user.id %>"> 
	<% @article.comments.each do |comment| %><br>

	<font color="grey">
	<b> <%= User.find(comment.author).username %></b>

	<small>write at: 

 	<%= comment.created_at %></small> 


 	<br><i><%= comment.body %></i>

	</font>
	<br>
	<hr />

 	<% end %>
</div>
</div>

<div class = "row">
<div class="col-xs-12">

	<p><i><b>Add Comment:</b></i></p>

</div>
</div>


<div class = "row">
<div class="col-xs-12">

	<%= form_for ([@article, @article.comments.build]) do |f| %>
	<input name="comment[author]" type="hidden"/ value="<%= current_user.id %>"> 

	<fieldset class="form-group">
    	<textarea class="form-control" name="comment[body]" id="comment_body" rows="3"></textarea><br>	

		<button type="submit" class="btn btn-success">Add comment</button>

	</fieldset>
	<% end %>

</div>
</div>
