<h2><%= @article.title %></h2>

<i>
	<%= @article.text %>
</i>
<br>
<br>
<i>
<b>
Comments:
</b>
</i>
<br>

<% @article.comments.each do |comment| %>
<br>
<font color="grey">
	<b>
	 	<%=current_user.username %> 
 	</b>


<small> 

 	write at: 

 	<%= comment.created_at %>

</small> 


 <br>

	 <i>
	 	<%= comment.body %>
 	</i>
</font>
<br>
<hr />

 <% end %>

<p>
<i>
<b>
Add Comment:
</b>
</i>

<%= form_for ([@article, @article.comments.build]) do |f| %>

	<p>
		<%= f.text_area :body %>
	</p>

	<p>
		<%= f.submit %>
	</p>


<% end %>

</p>
